<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filters</h1>

        <h2>{{data}}</h2>
        {{data|lower}}      <br>
        {{data|upper}}      <br>
        {{data|capfirst}}   <br>
        {{data|title}}      <br>
        {{data|length}}     <br> 
        {{data|truncatechars:'4'}}    <br>
        {{data|truncatewords:'2'}}    <br>
        {{data|slice:'2'}}            <br>
        {{data|length}}     <br>  <br>

        <h2>Now the time is  {{datE}}     </h2>
        {{datE|date:'Y'}}   <br> 
        {{datE|date:'Y D A'}}   <br> 
        {{datE|date:'y'}}   <br>
        {{datE|date:'j'}}   <br>

        <h2>I have {{d}} dog{{d|pluralize}}</h2>
        I have {{c}}  cat{{c|pluralize}}  <br>
        There are {{m}} mango{{m|pluralize:'es'}} <br>
        These {{d}} dog{{d|pluralize}} {{d|pluralize:'is,are'}} mine
    

    </center>
</body>
</html>